{% extends "base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'test-plan.css' %}">
{% endblock %}

{% block content %}

        <div class="container">
          <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
              <div class="contents">
                <br><br><br><br><br><br>
                <h1 >MiScManager<br></h1>
                <h5>Plataforma Web para Emulação de Redes Heterogêneas de Comunicação Móvel.</h5>
              </div>

            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
              <div class="intro-img">
                <br>
                  <h5>MiScManager oferece facilidade na gestão e configuração durante o processo de emulação de redes, através de uma interface intuitiva e de um sistema de proveniência dos experimentos.</h5>
                  <img src="static/img/experimenter.png" alt="some text" width=400 height=270>
              </div>
            </div>
          </div>
        </div>

<br><br>
       <div class="container">
          <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
              <div class="intro-img">
                <br>

                  <img src="static/img/logomnwifi.png" alt="some text" width=340 height=130 >

              </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
              <div class="intro-img">
                <br>
                  <h5>Crie emulações de redes utilizando o Mininet Wi-Fi na web de forma fácil e compare
                    os resultados dos seus experimentos.</h5>
                  <a href="https://github.com/intrig-unicamp/mininet-wifi" class="btn btn2-common" target="_blank">Mininet Wi-Fi</i></a>
              </div>
            </div>

          </div>
        </div>
</div>
<br><br><br>

   <footer id="footer" class="footer-area section-padding">
      <div class="container">
        <div class="container">
          <div class="row">

            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel"></h3>
              <ul class="footer-link">
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="footer-logo"><img src="static/img/imelogo.jpeg" alt="" height="150px"></h3>
                <div class="textwidget">
                  <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lobortis tincidunt est, et euismod purus suscipit quis.</p>
                -->
                </div>

              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <br>
              <br>
              <h3 class="footer-titel">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="../../static/img/gitlab_icon.png" width="10%" height="">&nbsp;gitlab</h3>
              <ul class="address">
                <li>
                  <a href="https://gitlab.com/andredemori/mini-manager_" target="_blank">https://gitlab.com/andredemori/mini-manager_</a>
                </li>
                <li>
                </li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel"></h3>
              <ul class="footer-link">
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="copyright-content">
                <p>MiniManager 2024 </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>


{% endblock %}